<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-HqaYdAE26lgFCJsUF9TBdbZf7ygr9yPHtxtg37JshqVQi6CCAo6Qvwmgc5xclIiV" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <div class="container">
        <h3>Thank you for your business!</h3>
        <p>We charged your credit card for {{recent_order.total_price}}$</p>
        <p>You have ordered {{total_items}} items so far and spent ${{total_spent}} with Amadon.com!</p>
        <p><a href="/" class="btn btn-primary">Go Back</a></p>
    </div>
</body>
</html>