sports_orm
school/main/db.sqlite3
semi-restful_tv_shows/main/db.sqlite3

Trip_Buddy/

DojoReads/pip
DojoReads/db.sqlite3
the_wall/db.sqlite3


ninja_gold/ninja_gold/db.sqlite3
user_dashboard/user-dashboard.pdf
user_dashboard/login_app/__pycache__/


user_dashboard/dashboard_app/__pycache__/

user_dashboard/dashboard_app/__pycache__/urls.cpython-38.pyc
user_dashboard/login_app/__pycache__/urls.cpython-38.pyc
