<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/yeti/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-chJtTd1EMa6hQI40eyJWF6829eEk4oIe7b3nNtUni7VxA3uHc/uIM/8ppyjrggfV" crossorigin="anonymous">
  <title>Welcome!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-">
      <a class="navbar-brand">Dojo-U</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="navbar-nav mr-auto">
          <a class="nav-link nav-item active disabled" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
          <a class="nav-link nav-item" href="{% url 'profile' %}">Profile</a>
          <a class="nav-link nav-item" href="C:\Users\Reamu\desktop\dojo-projects\python-stack\django\user_dashboard\dashboard_app\templates\message_board.html">Message Board</a>
        </div>
        <a class="nav-link text-light" href="{% url 'logout' %}">Log Out</a>
      </div>
    </nav>
    <br>
    <div class="container">
      <div class="row d-flex">
        <h2 class="mb-4 ml-3">Manage Users</h2>
        {% if logged_user.user_level == 9 %}
          <a href="{% url 'new_user' %}" class="btn btn-primary ml-auto mr-3"  style="height:40px">Add User</a>
        {% endif %}
      </div>
        <table class="table table-responsive-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>User Level</th>
                    {% if logged_user.user_level == 9 %}
                      <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td><a href="">{{user.first_name}} {{user.last_name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td>{{user.get_user_level_display}}</td>
                    {% if logged_user.user_level == 9 %}
                    <td><a href="{% url 'edit_user' user.id %}" class="mr-3">Edit</a><a href=""class="border-left pl-3">Remove</a></td>
                    {% endif %}
                  </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</html>