<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/yeti/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-chJtTd1EMa6hQI40eyJWF6829eEk4oIe7b3nNtUni7VxA3uHc/uIM/8ppyjrggfV" crossorigin="anonymous">
  <title>Welcome!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-">
      <a class="navbar-brand">Test App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="navbar-nav mr-auto">
          <a class="nav-link nav-item active disabled" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav ml-auto">
          <a class="nav-link nav-item" href="{% url 'signin' %}">Sign in</a>
        </div>
      </div>
    </nav>
    <br>

    <div class="container">
      <div class="jumbotron border p-5">
        <div class="container">
          <h1 class="display-3">Dojo-U</h1>
          <p class="lead">Welcome to the messaging system for students enrolled in Dojo University!</p>
          <hr>
          <a href="{% url 'register' %}" class="btn btn-primary btn-lg text-white">Get Started!</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><strong>Manage Students</strong></p>
          <p>Admins can add, edit, and remove students from the university!</p>
        </div>
        <div class="col-md-4">
          <p><strong>Communicate</strong></p>
          <p>Leave your classmates messages about upcoming assignments, study groups, or parties. Or just say "hi!"</p>
        </div>
        <div class="col-md-4">
          <p><strong>Edit Contact Information</strong></p>
          <p>Keep your contact information up-to-date so faculty and students know how to get in touch with you!</p>
        </div>
      </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>