<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cerulean/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-b+jboW/YIpW2ZZYyYdXczKK6igHlnkPNfN9kYAbqYV7rNQ9PKTXlS2D6j1QZIATW" crossorigin="anonymous">
    <title>Class Registration</title>
</head>

<body >

    <div class="container-fluid">
        <div class="jumbotron bg-dark mt-2">
            <h1 class="display-2">Greendale High</h1>
            <p class="lead text-white">Not just a school, a<em> community</em></p>
        </div>
        <div class="row justify-content-around ">
            <div class="col">
                <a href="subjects" class="text-white text-decoration-none">
                    <div class="card bg-danger border-danger" style="height:10rem;">
                        <h2 class="card-header text-center">Subjects Taught</h2>
                        <div class="card-body text-center">
                            <h1>{{total_subjects}}</h1>
                        </div>
                    </div>
                </a>
                </div>
            <div class="col">
                <a href="students" class="text-white text-decoration-none">
                    <div class="card bg-success border-success" style="height:10rem;">
                        <h2 class="card-header text-center">Students Enrolled</h2>
                        <div class="card-body text-center">
                            <h1>{{total_students}}</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="teachers" class="text-white text-decoration-none">
                    <div class="card border-warning bg-warning" style="height:10rem;">
                        <h2 class="card-header text-center">Teachers Employed</h2>
                        <div class="card-body text-center">
                            <h1>{{total_teachers}}</h1> 
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>