<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Hellions</title>
</head>
<body>
    <div id="wrapper">
        <h2>Student: {{student.first_name}} {{student.last_name}}</h2>
        <h3>Grade: {{student.grade}}</h3>
        <h3>Student ID: {{student.id}}</h3>
        <table>
            <tr>
                <th>Subject</th>
                <th>Teacher</th>
            </tr>
            {% for subject in student.subjects.all%}
            <tr>
                <td>{{subject.name}}</td>
                <td>Mr.Placeholder</td>
            </tr>
            {% endfor %}
        <br>
        </table>
        <form action='/students/register_subject/{{student.id}}' method="POST">
            {% csrf_token %}
            <input type="submit" value="Register Subject">
            <select name="register_subject" id="register_subject" required>
                {% for subject in not_subjects %}
                <option value="{{subject.id}}">{{subject.name}}</option>
                {% endfor %}
            </select>
        </form>
        
    </div>

    
</body>
</html>